:root {
    --color-primary: #ffb969;
    --color-secondary: #4F1C15;
    --color-text: #000000;
    --color-background: #FFFFFF;
    --color-link-text: #359BF9;

    --font-size-topbar: 2.8vw;
    --font-size-menu-toggle: 2vw;
    --font-size-title: 5vw;
    --font-size-subtitle: 3vw;
    --font-size-text: 2vw;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background-color: rgb(241, 235, 216);
    overflow-x: hidden;
    padding-top: 50px;
}
.cabecalho {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 20px;
    padding-right: 16px;
}

.nav-link {
    color: var(--color-secondary);
}

.navbar {
    justify-content: center;
}
.navbar-nav {
    justify-content: center;
    flex-grow: 1;
    gap: 16px;
}
.navbar-toggler {
    margin-left: auto;
}

.principal-aaarp {
    margin-top: 112.2px;
}

@media (max-width: 992px) {
    .centralizador {
        display: none;
    }
}

.font-color-primary {
    color: var(--color-primary);
}

.font-color-secondary {
    color: var(--color-secondary);
}

.img-aaarp {
    display: flex;
    justify-content: center;
}

.botao-padrao {
    width: 100%;
    background-color: var(--color-secondary);
    border: none;
}

.botao-padrao:hover {
    background-color: #2b0b05;
}

.botao-secundario {
    width: 100%;
    background-color: var(--color-primary);
    border: none;
}

.botao-secundario:hover {
    background-color: #a87b47;
}

.historia-pessoau {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: calc(-50vw + 50%);
}

.historia-pessoau .row {
    justify-content: center;
    gap: 16px;
}

.dog-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.dog-card {
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

.dog-card h5 {
    margin-top: 0.5rem;
}

.dog-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card {
    border: none;
    background-color: var(--color-secondary);
}

.dia-a-dia-abrigo {
    background-color: var(--color-secondary);
    color: #fff;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 2rem 0;
}

.voluntarios-inicio {
    background-color: var(--color-secondary);
    color: #fff;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 2rem 0;
}

.rodape {
    background-color: var(--color-primary);
    color: #fff;
    width: 100vw;
    padding: 2rem 0;
}

.rodape-alinhar{
    display: flex;
    justify-content: center;
}

.div-img-rodape {
    width: auto;
}

.borda-arredondada {
    border-radius: 20px;
}

.fundo-secundario {
    background-color: var(--color-secondary);
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}
.accordion-button {
    background-color: transparent;
    color: var(--color-text);
}

.accordion-button:not(.collapsed) {
    color: var(--color-text);
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button.collapsed {
    color: var(--color-text);
}

.accordion-button.collapsed:hover {
    background-color: #e9ecef;
}

.accordion-button:not(.collapsed)::after {
    filter: invert(0%);
}

.value-text img {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
}
.value-text p {
    margin-top: 10px; /* Ajuste o espaçamento conforme necessário */
}